* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Global Styles */
.container {
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #f0eee9;
}

/* =========================================== */

.logo {
  display: block;
  width: 100%;
  background: #417690;
  font-size: 25px;
  color: #e7d467;
  padding: 10px 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  display: inline-block;
  background-color: #417690af;
  font-size: 16px;
  width: 100%;
  padding: 10px 50px;
}

.link a:hover {
  text-decoration: underline;
}

.link .light {
  opacity: 0.7;
}

.link span {
  font-size: 12px;
  font-weight: bold;
  color: #f0eee9;
  margin: 0 5px;
}

/* Info */

div.info {
  line-height: 2.5;
}

div.info h3 {
  font-weight: normal;
  font-size: 25px;
  color: #111111ce;
  margin-top: 5px;
}

/* =============================================== */

/* Form */

.form label {
  cursor: pointer;
  color: #111111ce;
}

.form input {
  padding: 8px;
  width: 50%;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #808080;
}

.button {
  display: block;
  background-color: #417690;
  border-radius: 5px;
  text-align: center;
  width: 15%;
  font-size: 14px;
  transition: transform 0.4s ease-out;
}

.button:hover {
  transform: scale(0.9);
}

@media (max-width: 700px) {
  .button {
    width: 50%;
  }
}
